@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
body {
  background-color: #f0f0f0;
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  margin-top: 10%;
}
nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav  a {
  font-size: 20px;
  color: #584e4a;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
nav  a:before, nav a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f37272;
}
nav a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
nav a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
nav a:hover:before,nav  a:hover:after, nav a:focus:before,nav  a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
nav a:hover:before, nav a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
nav a:hover:after, nav a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}